[build]
  command = """
    rm -rf flutter && \
    git clone https://github.com/flutter/flutter.git -b stable --depth 1 && \
    export PATH="$PATH:`pwd`/flutter/bin" && \
    flutter config --enable-web && \
    flutter pub get && \
    flutter build web --release --dart-define=GOOGLE_MAPS_API_KEY=$GOOGLE_MAPS_API_KEY
  """
  publish = "build/web"

[build.environment]
  FLUTTER_VERSION = "stable"
  # Variable GOOGLE_MAPS_API_KEY debe estar configurada en Netlify Site Settings > Environment Variables
  # Desactivar detección de Google Maps API Key - es esperado que esté en el código compilado de web
  SECRETS_SCAN_SMART_DETECTION_OMIT_VALUES = "AIzaSyAfE3eJvvl5jRYcPjey3FuvZ5qVnnPhFFQ"
