[build]
  command = """
    rm -rf flutter && \
    git clone https://github.com/flutter/flutter.git -b stable --depth 1 && \
    export PATH="$PATH:`pwd`/flutter/bin" && \
    flutter config --enable-web && \
    flutter pub get && \
    flutter build web --release
  """
  publish = "build/web"

[build.environment]
  FLUTTER_VERSION = "stable"
