[build]
  command = """
    rm -rf flutter && \
    git clone https://github.com/flutter/flutter.git -b stable --depth 1 && \
    export PATH="$PATH:`pwd`/flutter/bin" && \
    flutter config --enable-web && \
    flutter pub get && \
    flutter build web --release --dart-define=GOOGLE_MAPS_API_KEY=AIzaSyAfE3eJvvl5jRYcPjey3FuvZ5qVnnPhFFQ
  """
  publish = "build/web"

[build.environment]
  FLUTTER_VERSION = "stable"
  # Variable GOOGLE_MAPS_API_KEY configurada en Netlify Environment Variables
